@model MvcKutuphane.Models.Entitiy.personel
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Personel Ekle</h2>

<form class="form-group" method="post">
    <div style="margin-top:15px">
        <label>Personel Ad Soyad</label>
        @*<input type="text" class="form-control" name="personel" />*@
        @Html.TextBoxFor(x => x.personelad1, new { @class = "form-control" })
        @Html.ValidationMessageFor(x=>x.personelad1,"",new { @style="color:red" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btnEkle">Personel Ekle</button>
    </div>
</form>